<div class="jumbotron">
  <h1 class="home_title">Welcome to Pinterest!</h1>
  <p class="home_content">Welcome to Pinterest, an application where
    you can connect with friends and family.</p>
  <p class="home_button"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>